# templates/my.cnf.j2
[mysqld]
datadir = {{ mysql_data_directory }}
bind-address = {{ mysql_bind_address }}

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4
